<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.proformatique.android.xivoclient"
  android:versionCode="1"
  android:versionName="1.0">
  <!--  Permissions -->
  <uses-permission
    android:name="android.permission.INTERNET" />
  <uses-permission
    android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission
    android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission
    android:name="android.permission.READ_CONTACTS" />
  <uses-permission
    android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission
    android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission
    android:name="android.permission.DISABLE_KEYGUARD" />
  <uses-permission
    android:name="android.permission.CALL_PHONE" />
  <supports-screens
    android:largeScreens="true"
    android:normalScreens="true"
    android:smallScreens="true"
    android:anyDensity="true" />
  <application
    android:icon="@drawable/icon"
    android:label="@string/app_name"
    android:theme="@android:style/Theme.NoTitleBar">
    <activity
      android:name=".HomeActivity"
      android:label="@string/app_name"
      android:launchMode="singleTask">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN" />
        <category
          android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".SettingsActivity"
      android:label="@string/app_name"
      android:launchMode="singleTask" />
    <activity
      android:name=".AboutActivity"
      android:label="@string/app_name"
      android:launchMode="singleTask" />
    <activity
      android:name=".xlets.XletIdentityStateList"
      android:label="@string/app_name"
      android:launchMode="singleTask" />
    <activity
      android:name=".xlets.XletDialer"
      android:label="@string/xlet_dial_label"
      android:description="@string/xlet_dial_desc"
      android:launchMode="singleTask"
      android:screenOrientation="portrait" />
    <activity
      android:name=".xlets.XletContactSearch"
      android:label="@string/xlet_search_label"
      android:description="@string/xlet_search_desc"
      android:launchMode="singleTask">
      <intent-filter>
        <action
          android:name="xivo.intent.action.LOAD_USER_LIST" />
      </intent-filter>
    </activity>
    <activity
      android:name=".xlets.XletServices"
      android:label="@string/xlet_features_label"
      android:description="@string/xlet_features_desc"
      android:launchMode="singleTask" />
    <activity
      android:name=".xlets.XletHisto"
      android:label="@string/xlet_history_label"
      android:description="@string/xlet_history_desc"
      android:launchMode="singleTask" />
    <activity
      android:name=".xlets.XletServicesAsk"
      android:theme="@android:style/Theme.Dialog"
      android:launchMode="singleTask" />
    <!-- Services -->
    <service
      android:name=".service.XivoConnectionService" />
    <service
      android:name=".InCallScreenKiller"></service>
    <!-- Receivers -->
    <receiver
      android:name=".service.XivoServiceStarter"
      android:process="com.proformatique.android.xivoclient">
      <intent-filter>
        <action
          android:name="android.intent.action.BOOT_COMPLETED" />
        <category
          android:name="android.intent.category.HOME" />
      </intent-filter>
    </receiver>
    <!-- Providers -->
    <provider
      android:name=".service.CapaxletsProvider"
      android:authorities="com.proformatique.android.xivoclient.xlet" />
    <provider
      android:name=".service.CapapresenceProvider"
      android:authorities="com.proformatique.android.xivoclient.presence" />
    <provider
      android:name=".service.CapaservicesProvider"
      android:authorities="com.proformatique.android.xivoclient.services" />
    <provider
      android:name=".service.UserProvider"
      android:authorities="com.proformatique.android.xivoclient.user" />
    <provider
      android:name=".service.HistoryProvider"
      android:authorities="com.proformatique.android.xivoclient.history" />
  </application>
  <uses-sdk
    android:minSdkVersion="7" />
</manifest>